other_odds/odd_rechtsaktenregister.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:s="http://purl.oclc.org/dsdl/schematron">

  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Rechtsakten-Register</title>
        <author xml:id="LU" role="main">Laura Untner</author>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <name>Austrian Centre for Digital Humanities and Cultural Heritage,
            Österreichische Akademie der Wissenschaften</name>
          <ref target="https://acdh.oeaw.ac.at">https://acdh.oeaw.ac.at</ref>
        </publisher>
        <publisher>
          <name>Ludwig Boltzmann Institut für Digital History</name>
          <ref target="https://geschichte.lbg.ac.at">https://geschichte.lbg.ac.at</ref>
        </publisher>
        <publisher>
          <name>Wienbibliothek im Rathaus</name>
          <ref target="https://www.wienbibliothek.at">https://www.wienbibliothek.at</ref>
        </publisher>
        <pubPlace>Wien, Österreich</pubPlace>
        <date>2022</date>
        <availability>
          <licence target="http://creativecommons.org/licenses/by/4.0">Creative Commons
            Namensnennung 4.0 International Lizenz</licence>
        </availability>
        <ref type="URL"
          target="https://gitlab.com/acdh-oeaw/legalkraus/documentation/other_odds/odd_rechtsaktenregister.odd"
          >https://gitlab.com/acdh-oeaw/legalkraus/documentation/other_odds/odd_rechtsaktenregister.odd</ref>
      </publicationStmt>
      <sourceDesc>
        <p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>

<!-- Text der ODD -->

  <text>
    <front>
      <titlePage>
        <docTitle>
          <titlePart type="main">ODD Rechtsakten-Register</titlePart>
        </docTitle>
        <docAuthor>Laura Untner</docAuthor>
      </titlePage>
    </front>
    <body>
            
<!-- SCHEMA -->
      
      <div>
        
        <head>TEI-Modifikation</head>
        
        <schemaSpec ident="legalkraus_transcr_rechtsakten" start="TEI" xml:lang="de">
          
          <moduleRef key="header" include="availability fileDesc idno licence publicationStmt sourceDesc teiHeader titleStmt"/>
          <moduleRef key="core" include="address date item list name postCode publisher pubPlace ref street title"/>
          <moduleRef key="corpus"/>
          <moduleRef key="msdescription"/>
          <moduleRef key="namesdates" include="country settlement"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure" include="body TEI text"/>
          <moduleRef key="textcrit"/>
          <moduleRef key="transcr"/>
          <moduleRef key="linking" include="ab"/>
        </schemaSpec>
        
        <!-- element availability -->
        <elementSpec ident="availability" module="header" mode="change"/>
        
        <!-- element fileDesc -->
        <elementSpec ident="fileDesc" module="header" mode="change"/>
          
        <!-- element idno -->
        <elementSpec ident="idno" module="header" mode="change">
          <attList>
              <attDef ident="type" mode="change" usage="req">
                  <valList mode="replace" type="closed">
                      <valItem ident="shelfmark">
                          <desc>Signatur</desc>
                      </valItem>
                  </valList>
              </attDef>
          </attList>
        </elementSpec>
        
        <!-- element licence -->
        <elementSpec ident="licence" module="header" mode="change">
          <attList>
            <attDef ident="target" mode="change" usage="req">
              <valList mode="replace" type="closed">
                <valItem ident="http://creativecommons.org/licenses/by/4.0">
                  <desc>Creative Commons Namensnennung 4.0 International Lizenz</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element publicationStmt -->
        <elementSpec ident="publicationStmt" module="header" mode="change"/>
        
        <!-- element sourceDesc -->
        <elementSpec ident="sourceDesc" module="header" mode="change"/>
        
        <!-- element teiHeader -->
        <elementSpec ident="teiHeader" module="header" mode="change"/>
        
        <!-- element titleStmt -->
        <elementSpec ident="titleStmt" module="header" mode="change"/>
        
        <!-- element address -->
        <elementSpec ident="address" module="core" mode="change"/>
        
        <!-- element date -->
        <elementSpec ident="date" module="core" mode="change">
            <attList>
                <attDef ident="type" mode="change" usage="opt">
                    <valList mode="replace" type="closed">
                        <valItem ident="creation">
                            <desc>Datum aus <gi>creation</gi> im erwähnten Dokument</desc>
                        </valItem>
                    </valList>
                </attDef>
            </attList>
        </elementSpec>
        
          <!-- element item -->
          <elementSpec ident="item" module="core" mode="change">
              <attList>
                  <attDef ident="ref" mode="change" usage="req"/>
                  <attDef ident="sortKey" mode="change" usage="req"/>
              </attList>
          </elementSpec>
        
        <!-- element list -->
        <elementSpec ident="list" module="core" mode="change">
            <attList>
                <attDef ident="type" mode="change" usage="req">
                    <valList mode="replace" type="closed">
                        <valItem ident="law-docs">
                            <desc>Liste bestehend aus erwähnten Dokumenten im Rechtsakten-Korpus</desc>
                        </valItem>
                    </valList>
                </attDef>
            </attList>
        </elementSpec>
        
        <!-- element name -->
        <elementSpec ident="name" module="core" mode="change"/>
        
        <!-- element postCode -->
        <elementSpec ident="postCode" module="core" mode="change"/>
        
        <!-- element publisher -->
        <elementSpec ident="publisher" module="core" mode="change"/>
        
        <!-- element pubPlace -->
        <elementSpec ident="pubPlace" module="core" mode="change"/>

        <!-- element ref -->
        <elementSpec ident="ref" module="core" mode="change">
          <attList>
            <attDef ident="target" mode="change" usage="req">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element street -->
        <elementSpec ident="street" module="core" mode="change"/>
        
        <!-- element title -->
        <elementSpec ident="title" module="core" mode="change"/>
        
        <!-- element country -->
        <elementSpec ident="country" module="namesdates" mode="change"/>
        
        <!-- element settlement -->
        <elementSpec ident="settlement" module="namesdates" mode="change"/>
        
        <!-- element body -->
        <elementSpec ident="body" module="textstructure" mode="change"/>
        
        <!-- element TEI -->
        <elementSpec ident="TEI" module="textstructure" mode="change"/>
        
        <!-- element text -->
        <elementSpec ident="text" module="textstructure" mode="change"/>
        
        <!-- element ab -->
        <elementSpec ident="ab" module="linking" mode="change"/>
                    
      </div>
        
    </body>
      
  </text>
    
</TEI>