other_odds/odd_boehm.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:s="http://purl.oclc.org/dsdl/schematron">

  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Böhm</title>
        <author xml:id="LU" role="main">Laura Untner</author>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <name>Austrian Centre for Digital Humanities and Cultural Heritage,
            Österreichische Akademie der Wissenschaften</name>
          <ref target="https://acdh.oeaw.ac.at">https://acdh.oeaw.ac.at</ref>
        </publisher>
        <publisher>
          <name>Ludwig Boltzmann Institut für Digital History</name>
          <ref target="https://geschichte.lbg.ac.at">https://geschichte.lbg.ac.at</ref>
        </publisher>
        <publisher>
          <name>Wienbibliothek im Rathaus</name>
          <ref target="https://www.wienbibliothek.at">https://www.wienbibliothek.at</ref>
        </publisher>
        <pubPlace>Wien, Österreich</pubPlace>
        <date>2022</date>
        <availability>
          <licence target="http://creativecommons.org/licenses/by/4.0">Creative Commons
            Namensnennung 4.0 International Lizenz</licence>
        </availability>
        <ref type="URL"
          target="https://gitlab.com/acdh-oeaw/legalkraus/documentation/other_odds/odd_boehm.odd"
          >https://gitlab.com/acdh-oeaw/legalkraus/documentation/other_odds/odd_boehm.odd</ref>
      </publicationStmt>
      <sourceDesc>
        <p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>

<!-- Text -->

  <text>
    <front>
      <titlePage>
        <docTitle>
          <titlePart type="main">ODD Böhm</titlePart>
        </docTitle>
        <docAuthor>Laura Untner</docAuthor>
      </titlePage>
    </front>
    <body>
            
<!-- SCHEMA -->
      
      <div>
        
        <head>TEI-Modifikation</head>
        
        <schemaSpec ident="legalkraus_transcr_boehm" start="TEI" xml:lang="de">
          <moduleRef key="header" include="availability fileDesc licence publicationStmt sourceDesc teiHeader titleStmt"/>
          <moduleRef key="core" include="address bibl date hi lb name note p pb postCode publisher pubPlace ref street title"/>
          <moduleRef key="corpus"/>
          <moduleRef key="msdescription"/>
          <moduleRef key="namesdates" include="country settlement"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure" include="body div TEI text"/>
          <moduleRef key="textcrit"/>
          <moduleRef key="transcr" include="fw"/>
          <moduleRef key="linking" include="ab"/>
          <moduleSpec ident="ko" xml:lang="de"/>
        
        <!-- element availability -->
        <elementSpec ident="availability" module="header" mode="change"/>
        
        <!-- element fileDesc -->
        <elementSpec ident="fileDesc" module="header" mode="change"/>

        <!-- element licence -->
        <elementSpec ident="licence" module="header" mode="change">
          <attList>
            <attDef ident="target" mode="change" usage="opt">
              <valList mode="replace" type="closed">
                <valItem ident="http://creativecommons.org/licenses/by/4.0">
                  <desc>Creative Commons Namensnennung 4.0 International Lizenz</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element publicationStmt -->
        <elementSpec ident="publicationStmt" module="header" mode="change"/>
        
        <!-- element sourceDesc -->
        <elementSpec ident="sourceDesc" module="header" mode="change"/>
        
        <!-- element teiHeader -->
        <elementSpec ident="teiHeader" module="header" mode="change"/>
        
        <!-- element textClass -->
        <elementSpec ident="textClass" module="header" mode="change"/>
        
        <!-- element titleStmt -->
        <elementSpec ident="titleStmt" module="header" mode="change"/>
        
        <!-- element address -->
        <elementSpec ident="address" module="core" mode="change"/>
        
        <!-- element bibl -->
        <elementSpec ident="bibl" module="core" mode="change"/>
        
        <!-- element date -->
        <elementSpec ident="date" module="core" mode="change"/>
        
        <!-- element head --><!-- HIER -->
        <elementSpec ident="ab" mode="change" module="linking">
          <classes mode="change">
            <memberOf key="att.typed"/><!-- @type -->
            <memberOf key="att.global"/><!-- @n und @xml:space -->
            <memberOf key="att.ko"/><!-- @level, @ids, @titles -->
          </classes>
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList>
                <valItem ident="head"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="change" usage="opt"/>
            <attDef ident="xml:space" mode="change" usage="opt">
              <valList>
                <valItem ident="preserve"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <classSpec ident="att.ko" type="atts" mode="add" module="ko">
          <classes/>
          <attList>
            <attDef ident="level" ns="https://www.kraus.wienbibliothek.at/" usage="opt">
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
            <attDef ident="ids" ns="https://www.kraus.wienbibliothek.at/" usage="opt">
              <desc>ID</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
            <attDef ident="titles" ns="https://www.kraus.wienbibliothek.at/" usage="opt">
              <desc>Titel</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <!-- element hi -->
        <elementSpec ident="hi" module="core" mode="change">
          <attList>
            <attDef ident="rend" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="underline"/>
                <valItem ident="spaced"/>
                <valItem ident="bold"/>
                <valItem ident="italic"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element lb -->
        <elementSpec ident="lb" module="core" mode="change">
          <attList>
            <attDef ident="break" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="no">
                  <desc>Umbruch im Wort</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element name -->
        <elementSpec ident="name" module="core" mode="change"/>
        
        <!-- element note -->
        <elementSpec ident="note" module="core" mode="change">
          <attList>
            <attDef ident="resp" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="#boehm"/>
                <valItem ident="#Boehm"/>
                <valItem ident="#legalkraus"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="material"/>
                <valItem ident="zusammenfassung"/>
                <valItem ident="kommentar"/>
                <valItem ident="footnote"/>
              </valList>
            </attDef>
            <attDef ident="rend" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="italic"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="1"/>
                <valItem ident="2"/>
                <valItem ident="3"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element p -->
        <elementSpec ident="p" module="core" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change" usage="opt">
              <datatype>
                <dataRef key="ID"/>
              </datatype>
            </attDef>
            <attDef ident="break" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="no">
                  <desc>Umbruch im Wort</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="xml:space" mode="change" usage="opt">
              <valList>
                <valItem ident="preserve"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- element pb -->
        <elementSpec ident="pb" module="core" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change" usage="opt">
              <datatype>
                <dataRef key="ID"/>
              </datatype>
            </attDef>
            <attDef ident="n" mode="change" usage="opt"/> 
          </attList>
        </elementSpec>
        
        <!-- element postCode -->
        <elementSpec ident="postCode" module="core" mode="change"/>
        
        <!-- element publisher -->
        <elementSpec ident="publisher" module="core" mode="change"/>
        
        <!-- element pubPlace -->
        <elementSpec ident="pubPlace" module="core" mode="change"/>
        
        <!-- element ref -->
        <elementSpec ident="ref" module="core" mode="change">
          <attList>
            <attDef ident="target" mode="change" usage="opt">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
       
        <!-- element street -->
        <elementSpec ident="street" module="core" mode="change"/>
       
        <!-- element title -->
        <elementSpec ident="title" module="core" mode="change"/>
        
        <!-- element country -->
        <elementSpec ident="country" module="namesdates" mode="change"/>
        
        <!-- element settlement -->
        <elementSpec ident="settlement" module="namesdates" mode="change"/>
        
        <!-- element body -->
        <elementSpec ident="body" module="textstructure" mode="change"/>
        
        <!-- element div -->
        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="xmlns" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="http://www.tei-c.org/ns/1.0"/>
              </valList>
            </attDef>
            <attDef ident="xml:id" mode="change" usage="opt"/>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="page"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="change" usage="opt"/>
          </attList>
        </elementSpec>
        
        <!-- element TEI -->
        <elementSpec ident="TEI" module="textstructure" mode="change"/>
        
        <!-- element text -->
        <elementSpec ident="text" module="textstructure" mode="change"/>
        
        <!-- element fw -->
        <elementSpec ident="fw" module="transcr" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="pageNum"/>
              </valList>
            </attDef>
            <attDef ident="xml:id" mode="change" usage="opt">
              <datatype>
                <dataRef key="ID"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
          
      </schemaSpec>   
        
      </div>
      
    </body>
      
  </text>
    
</TEI>
